<div class="navBar">
  <ul class="navBar-items-list">
    <li class="navBar-item">
      <img id="logo" src="assets/images/logo.png" alt="Logo">
    </li>
    <li class="navBar-item">
      <a routerLink="/search" routerLinkActive="active">
        <i class="fas fa-search"></i>Rechercher
      </a>
    </li>
    <li class="navBar-item">
      <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <i class="fas fa-home"></i>Accueil
      </a>
    </li>
  </ul>
</div>
